#extends base
#def title : About my game
#block content
    <h1>This is my new game!</h1>
    <p>And it's pretty <strong>cool</strong> too.</p>
    <p>There currently are $rooms rooms, so it's huge!</p>
#end block content
